.button,
input[type="submit"]{
  background-color: var(--primario);
  color: var(--blanco);
  margin: 0;
  padding: 1rem 2rem;
  border-radius: var(--radius);
  border: none !important;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  width: fit-content;
  white-space: nowrap;
  text-decoration: none;
}

.button:hover,
input[type="submit"]:hover {
  background-color: var(--primario-hover);
}
