.button{
  background-color: var(--negro);
  color: var(--blanco);
  margin: 0;
  padding: .5rem 1rem;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow-1);
  cursor: pointer;
  border: 1px solid var(--negro);
}

.button:hover{
 background-color: var(--blanco);
 color: var(--negro);
}

         
 