html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: rgb(255 255 255 / 0.9);
  color: var(--text-color);
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  
}
main{
  min-height: 100vh;
}


.container,
.site-main {
  width: 90%;
  margin: 2rem auto;
  max-width: 120rem;
}

.container-sidebar {
  margin: 2rem auto;
  display: grid;
  gap: 4rem;
}

@media (min-width: 768px) {
  .container-sidebar {
    grid-template-columns: auto 1fr;
    grid-template-areas: "columna1 columna2";
  }
  .container-productos {
    grid-area: columna2;
  }
  .filtros {
    grid-area: columna1;
  }
}

@media (min-width: 1366px) {
  .container-sidebar {
    width: 100%;
  }
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 1.7rem;
}

p,
a,
li,
div,
th {
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
}

a {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
th,
strong span,
bdi,
span,
label {
  color: var(--title-color);
}

input,
textarea,
select {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #1a202c;
  border: 1px solid var(--gris);
  outline: 0;
  resize: none;
}
input[type="radio"] {
  border: none;
  box-shadow: none !important;
}
textarea {
  min-height: 10rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--gris);
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 1px var(--primario) inset;
}

label {
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem !important;
}

.text-center {
  text-align: center;
}

.margin-0 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

span,
li,
ul,
a {
  line-height: normal !important;
}
