.copy_bienvenida {
  margin: 0 auto;
  width: 80%;
}

.titulo_bienvenida {
  font-family: var(--fuente-headings);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .titulo_bienvenida {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  .titulo_bienvenida {
    flex-direction: row;
    gap: 2rem;
    font-size: 7rem;
  }
}

.titulo_bienvenida span:first-child {
  align-self: flex-start;
  color: var(--primario);
}

.titulo_bienvenida span:last-child {
  align-self: flex-end;
  -webkit-text-stroke: 1px var(--primario);
  color: transparent;
}

.bienvenida-texto {
  text-align: center;
  margin: 2rem;
}

.copy_buttons {
  display: flex;
  gap: 2rem;
  margin-top: 6rem;
  align-items: center;
}


.copy_buttons .principal_buttons {
  display: flex;
  gap: 1rem;
}

.home .grid-inicio {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  border-bottom: 1px solid var(--gris);
}

.home .grid-inicio .imagen-destacada {
  width: 100%;
  max-width: 1020px;
  height: auto;
  height: 100vh;
  object-fit: cover;
}

.home .contenedor-inicio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(255 255 255 / 0.85);
  position: relative;
}

.home .barra-navegacion {
  width: 100%;
  margin: 2rem 0;
  height: fit-content;
}

.home .container {
  padding: 2rem;
  max-width: 200rem;
}

/* Fondo */

.home .gradient {
  height: 100%;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  filter: blur(1px);
  transform: rotate(180deg);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Secciones */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.section_title {
  font-family: var(--fuente-headings);
  font-size: 6rem;
  font-weight: 400;
  -webkit-text-stroke: 1px var(--primario);
  color: transparent;
}

.productos-swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); /* Ajusta el valor según sea necesario */
}

.productos-swiper .woocommerce {
  padding: 0 2rem;
}

.btnFinal {
  margin: 4rem auto !important ;
}

.publicidad_vertical {
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

@media (min-width: 768px) {
  .publicidad_vertical {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.imagen_publicidad_principal {
  margin: 0 auto;
  width: 100%;
  max-height: 50rem;
  height: auto;
  display: block;
  object-fit: cover;
}

.imagen_publicidad {
  margin: 0 auto;
  width: 100%;
  max-height: 100rem;
  height: auto;
  display: block;
  object-fit: contain;
}

.imagen_publicidad_principal,
.imagen_publicidad {
  margin-top: 3rem;
  border-radius: var(--radius);
  width: fit-content;
}
