header {
  height: 150px;
}

  .barra-navegacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255 255 255 / 0.85);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--gris);
    top: 0;
  }


.barra-fixed{
  position: fixed;
  top: 0;
  box-shadow: var(--shadow-1);
}


.barra-navegacion .nav-derecha{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

header .menu-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  padding: 0;
}

header .menu-principal a {
  color: var(--text-color);
  font-weight: 400;
}

header .menu-principal .current-menu-item {
  position: relative;
}
header .menu-principal .current-menu-item::after {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  bottom: -50%;
  left: 50%;
  position: absolute;
  background-color: var(--primario);
  border-radius: 50%;
  border: 1px solid var(--gris);
  transform: translate(-50%, 50%);
}

.menu-principal li,
.menu-principal a {
  list-style-type: none;
  text-decoration: none;
}

/* Logo */

.logo img {
  width: 100px;
  height: auto;
}

/* Navegacion de paginas de woocommerce */
.woocommerce-breadcrumb {
  display: flex;
  align-items: flex-end;
}
.woocommerce-breadcrumb a:first-child::before {
  content: "\f015";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.2rem;
}
.woocommerce-breadcrumb a {
  text-decoration: none;
  color: var(--negro);
  border-bottom: 1px solid transparent;
}

.woocommerce-breadcrumb a:hover {
  border-bottom: 1px solid var(--negro);
}

.breadcrumb-separator {
  display: none;
}
