header {
  height: 150px;
}

.barra-navegacion {
  background-color: rgb(255 255 255 / 0.85);
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 100;
  position: relative;
  transform: translate(0);
  transition: transform 0.4s cubic-bezier(0.01, 1.01, 0.58, 1);
}
.home .barra-navegacion{
  position: fixed !important;
  top: 0;
}

@media (min-width: 768px) {
  .barra-smartphone,
  .menu-smartphone {
    display: none !important;
  }
}

.barra-smartphone {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 90%;
}

.barra-smartphone .smartphone-superior,
.barra-smartphone .smartphone-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.barra-smartphone .smartphone-superior .barra-smartphone-icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.barra-smartphone .smartphone-inferior {
  border-top: 1px solid var(--gris);
}

.barra-smartphone .smartphone-inferior .menu-icon {
  background-color: var(--primario);
  padding: 1rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: center;
  color: var(--blanco);
  display: block;
  cursor: pointer;
}

.barra-smartphone .smartphone-inferior .woocommerce-product-search {
  border: none;
}

.menu-smartphone {
  position: fixed;
  flex-direction: column;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(255 255 255 / 0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.01, 1.01, 0.58, 1);
  transform: translateX(100%);
  padding: 2rem;
}

.menu-smartphone nav ul {
  display: flex;
  flex-direction: column;
}

.mostrar-menu {
  transform: translate(0);
}

.barra-container {
  background-color: rgb(255 255 255 / 0.85);
  backdrop-filter: blur(10px);
  width: 100%;
  display: none;
  gap: 3rem;
  background-color: transparent;
}

@media (min-width: 768px) {
  .barra-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    z-index: 1000;
    padding: 1rem 0;
    max-width: 120rem;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid var(--gris);
  }
}



.barra-navegacion.barra-fixed .barra-container {
  border: none;
}

.barra-fixed {
  position: fixed;
  top: 0;
  box-shadow: var(--shadow-1);
}

.barra-translate {
  transform: translateY(-100%);
}

.barra-navegacion .nav-derecha {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .barra-navegacion .nav-derecha {
    display: flex;
    align-items: center;

    gap: 2rem;
    justify-content: center;
  }
}

.icono-cuenta {
  font-size: 1.8rem;
}

.menu-principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;

  padding: 0;
}

@media (min-width: 768px) {
  .menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    padding: 0;
  }
}

.menu-principal a {
  color: var(--text-color);
  font-weight: 400;
}

.menu-principal .current-menu-item a {
  font-weight: 700;
}

.menu-principal li,
.menu-principal a {
  list-style-type: none;
  text-decoration: none;
}

/* Logo */

.logo a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.logo a img {
  height: 30px;
  width: auto;
}
.logo a .logo-text {
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .logo a .logo-text {
    font-size: 2.8rem;
  }
}

.logo {
  transition: filter 0.3s ease, transform 0.3s ease;
}
.logo:hover {
  transform: translateY(-0.5rem);
  filter: drop-shadow(0 0.49rem 0.2rem var(--primario));
}

.logo a .logo-text span {
  -webkit-text-stroke: 1px var(--primario);
  color: transparent;
}

/* Navegacion de paginas de woocommerce */
.woocommerce-breadcrumb {
  display: flex;
  align-items: center;
}
.woocommerce-breadcrumb a:first-child::before {
  content: "\f015";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.2rem;
}
.woocommerce-breadcrumb a {
  text-decoration: none;
  color: var(--negro);
  border-bottom: 1px solid transparent;
}

.woocommerce-breadcrumb a:hover {
  border-bottom: 1px solid var(--negro);
}

.breadcrumb-separator {
  display: none;
}
