.tienda .products {
  width: 100%;
  margin: 2rem 0;
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding: 0;
}

@media (min-width: 768px) {
  .tienda .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .tienda .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1366px) {
  .tienda .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.onsale {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1rem, -1.5rem);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--blanco);
  color: var(--title-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--title-color);
  z-index: 100;
}

.product img {
  width: 100%;
  height: auto;
}

/* Quito estos pseudoelementos que me agrega woocommerce */
.products::before,
.products::after {
  position: fixed;
  display: none;
}



.products .product {
  border-radius: var(--radius);
  border: 1px solid var(--gris);
  padding: 2rem;
  width: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.products .product a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products .product .woocommerce-LoopProduct-link {
  text-decoration: none;
}

.products li.product {
  list-style-type: none;
}

.products .product .woocommerce-loop-product__title {
  color: var(--negro);
  text-align: center;
  font-weight: bold;
}

.products .product .price {
  width: 100%;
}

.products .product .amount {
  display: block;
  text-align: center;
  width: 100%;
  color: var(--negro);
}

/* Flecha del select */
.woocommerce-ordering .orderby::-ms-expand {
  padding-right: 1rem;
}

.woocommerce-ordering .orderby option {
  min-height: auto;
  height: auto;
  padding: 1rem;
  border-bottom: 1px solid red;
}

.woocommerce-ordering {
  display: flex;
  justify-content: flex-end;
}
