:root {
  --primario: #9733EE ;
  --negro: #000;
  --blanco: #fff;
  
  --gradient:  linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);

  --radius: 0.5rem;

  --shadow-1: 0px 1px 4px rgb(0 0 0 / 0.2);
}
