:root {
  --primario: #622499;
  --negro: #000;
  --blanco: #fff;
  --gris: #bdbdbd;

  --rojo: rgba(255, 0, 0, 0.2);
  --rojo-oscuro: rgba(150, 0, 0);

  --verde: rgba(0, 255, 0, 0.2);
  --verde-oscuro: rgba(0, 151, 0);

  --amarillo: #ffd700;

  --gradient: linear-gradient(to right, #922ea6 0%, rgb(84, 13, 145) 51%, #8b4698 100%);

  --radius: 0.5rem;

  --shadow-1: 0px 1px 4px rgb(0 0 0 / 0.2);
}
