:root {
  --primario: #061a46;
  --primario-hover: #334155;
  --negro: #000;
  --blanco: #fff;
  --gris: #e2e8f0;
  --blanco-secundario: #f9fafb;

  --text-color: #051020;
  --title-color: #020710;

  /* Colore de alertas y mensajes */
  --azul-50: #eff6ff;
  --azul-800: #1e40af;
  --azul-900: #1e3a8a;

  --rojo-50: #fef2f2;
  --rojo-800: #991b1b;
  --rojo-900: #7f1d1d;

  --verde-50: #f0fdf4;
  --verde-800: #166534;
  --verde-900: #14532d;

  /* Color de estrellas */
  --amarillo: rgba(255, 229, 81, 0.8);

  --radius: 0.5rem;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --input-shadow: 0 0 0 1px var(--gris) inset;

  --animate-duration: 1.5s;
  --animate-delay: 0.9s;

  --fuente-headings: "Alfa Slab One", serif;
}
